.Playing{
   display:grid;
  grid-template-rows: repeat(3,1fr);
   height: 100%;
   width:100%;
   background: white;
   border-style: solid;
   border-color: rgba(212, 212, 212, 1);
   border-width: 1px;
  border-radius: 5px;
   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.04), 0 3px 6px rgba(0, 0, 0, 0.04);
   cursor:default
}
.heading{
    grid-row: 1/span 1;
    background-color: white;
    border-top-left-radius: 5px;
     border-top-right-radius: 5px;
     display: flex;
     justify-content:space-between;
     align-items: center;
     margin:3%;

}
.topic,.question_no{
    color: rgba(178, 169, 169, 1);
 font-size: 14px;
line-height: 21px;
 font-weight: 500;
}
.topic_box .topic_name{
color: rgba(47, 47, 47, 1);
font-size: 14px;
line-height: 21px;
 font-weight: 500;
    font-family: Poppins;
}

.time_box{
    background-color: rgba(47, 47, 47, 0.36);
    height: 46px;
    width:90px;
      border-radius: 5px;
      color: white;
   font-family: Poppins;
 font-size: 14px;
line-height: 21px;
font-weight: 500;
display:flex;
padding-left: 2%;
padding-right: 2%;
justify-content: space-between;
align-items: center;
}
.time_box .minute,.time_box .second{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.middle{
     grid-row: 2/span 1;
    background: rgba(128, 255, 219, 0.2); 
}
.question_box{
    margin-left:3%;
    margin-top:2%;
}
.question_box .question{
   color: rgba(0, 0, 0, 1);
   font-size: 16px;
   line-height: 24px;
   font-weight: 500;
    font-family: Poppins;
    /* transition: 0.5s ease-in; */
    /* transform: translateX(-100%); */
}

.bottom{
    grid-row: 3/span 1;
    background: linear-gradient(91.23deg, #6776FF 0%, #80FFDB 131.71%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius:5px ;
     display: flex;
     justify-content:space-between;
     /* align-items: center; */
}
.right_box{
    position:absolute;
    height: 100%;
    width: 100%;
}
.answer_box{
    margin-left: 3%;
    display:flex;
    flex-direction: column;
    margin-top: 1.5%;
}
.answer{
  color: white;
   font-family: Poppins;
 font-size: 14px;
line-height: 21px;
  
}
.answer_input{
  border-radius: 5px;
  border-style: none;
   font-family: Poppins;
  font-size: 14px;
line-height: 21px;
   height:35%;
   margin-top: 1%;
}

.query_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
     width:30%; 
     margin-right: 3%;
}
.stuck{
    background-color: transparent;  
  color: white;
  cursor:default;
   font-family: Poppins;
  font-size: 14px;
line-height: 21px;
 flex-grow: 1;
}
.solution-button{
    height:35%;
    margin-left:2%;
     background-color: transparent;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  color: white;
   font-family: Poppins;
  font-size: 1rem;
   flex-grow: 3;
}



@media screen and (max-width:950px)  {
    .Playing{
         display:grid;
  grid-template-rows: repeat(13,1fr);
    }
    .bottom{
       
        flex-direction: column;
        grid-row: 9/span 5;
    }
    .heading{
        align-items: flex-start;
        grid-row: 1/span 3;
    }
    .middle{
        grid-row:4/ span 5;
    }
    .answer_input{
       margin-right: 3%;
      
    }
    .answer_box{
       flex-grow: 3;
    }
    .query_box{
        width:auto;
        flex-grow: 2;
        margin-left: 3%;
        display: flex;
       justify-content: flex-start;
    }
    .stuck{
        flex-grow:0;
    }
    .solution-button{
        height:auto;
        flex-grow:0;
       
    }
}
