
.gradientbg{
    background:  linear-gradient(90deg, #6776FF 0%, #80FFDB 117.88%);
    position: relative;
    height: 100%;
    width: 100%;
     border-radius: 5px;   
}
.Start{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  grid-template-rows: repeat(7,1fr);
}
.start-button{
  grid-column: 4/span 2;
  grid-row: 4/span 1;

  background-color: transparent;
  border-color: white;
  border-radius: 5px;
  border-style: solid;
  color: white;
  cursor: pointer;
   font-family: Poppins;
   font-size: 16px;
  
   border-width: 2px;
    
  text-decoration: none;
  
  text-align: center; 
}
.start-button .text{
  position: relative;
  top:20%;
}

@media screen and (max-width:950px){
    .start-button{
        grid-column: 3/span 4; 
    }
}