@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
.Game{
  width: 50%;
  height: 40%;
  position: absolute;
  top:35%;
  left:25%;
  
}

@media screen and (max-width:950px) {
  .Game{
    height:50%;
    width:80%;
    left:10%;
    top:25%;
  }
}